# Eclipse metadata
**/.settings/
**/.classpath
**/.project

# Maven output
/target/
# Yamcs build artefacts
yamcs-server/target/

# VSCode
.vscode/settings.json

# Docker logs for CI
docker/all.log

# Yamcs-Studio Metadata
.project

# data files
*.csv

# Jupyter
*.ipynb_checkpoints

# passwords etc
**donotcommit**

# virtual environment
**/.venv/

# Yamcs database
# data/yamcs-data-initial includes data from Yaoki. Additional database entries from running Yamcs after the mission are not relevant and should be ignored
***/yamcs-data/***
# Exported data
***/yaoki_parquet/***